[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
xmltodict = "*"
pyyaml = "*"
selenium = "*"
requests = "*"
tqdm = "*"
selenium-requests = "*"
"pypdf2" = "*"
arrow = "*"

[dev-packages]

[requires]
python_version = "3.6"
